# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# data folders ----
debug

# Temporary files created by testthat ----
tests/testthat/test*.loader
tests/testthat/Rplots.pdf
Rplots.pdf
CMEnt.Rcheck/
*.BiocCheck/
..Rcheck/00check.log

# Generated documentation files ----
vignettes/.build.timestamp
vignettes/*.md
vignettes/*.html
README.html
Rd2.tex

.github/copilot-instructions.md
*.bak
*_cache/

*.log
figure-html
reports/*
.vscode
*R_x86_64-pc-linux-gnu.tar.gz
*_R_x86_64-pc-linux-gnu.Rcheck/*
..Rcheck/
tmp/
.codex
.Rprofile
.lintr
data

CMEnt_*.tar.gz
notebooks/cached_results/simulated_microarray/sim_microarray_controls.tsv
notebooks/cached_results/simulated_ont/ont_*
notebooks/cached_results/simulated_ont/bsseq_augmented.rds
notebooks/cached_results/microarray450k/GSE63409*
notebooks/cached_results/metastudyEpic/GSE244696*
notebooks/cached_results/simulated_microarray450k/GSE40279*

notebooks/metastudy_files
notebooks/metastudy_cache

notebooks/*.html
dmps.rds
publication/*
