# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# data folders ----
benchmark_data
debug


# Temporary files created by testthat ----
tests/testthat/test*.loader
tests/testthat/Rplots.pdf
Rplots.pdf
DMRsegal.Rcheck/
..Rcheck/00check.log

# Generated documentation files ----
vignettes/.build.timestamp
vignettes/*.md
vignettes/*.html
README.html
Rd2.tex

.github/copilot-instructions.md
