# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# data folders ----
debug

# Temporary files created by testthat ----
tests/testthat/test*.loader
tests/testthat/Rplots.pdf
Rplots.pdf
CMEnt.Rcheck/
..Rcheck/00check.log

# Generated documentation files ----
vignettes/.build.timestamp
vignettes/*.md
vignettes/*.html
README.html
Rd2.tex

.github/copilot-instructions.md
*.bak
*_cache/
data/sim_bs_1000.rds
data/sim_dmrs_1000.tsv

*.log
figure-html
reports/*
.vscode
*R_x86_64-pc-linux-gnu.tar.gz
CMEnt_0.99.0_R_x86_64-pc-linux-gnu.Rcheck/*
..Rcheck/
tmp/
.codex
.Rprofile
.lintr
data
inst/benchmarks/simulated_ont/sim_bs_1000_hdf5
